In [1]:
import pandas as pd
import glob
import json

In [2]:
df = pd.read_csv("../data/raw/ciccids/Monday-WorkingHours.pcap_ISCX.csv")
train_df = df[[' Timestamp',' Source IP', ' Destination IP', ' Label']]

In [3]:
files = glob.glob('../data/raw/ciccids/*')
selected_files = [file for file in files if 'Monday' not in file]

In [4]:
df_test = pd.concat([pd.read_csv(file, encoding='ISO-8859-1') for file in selected_files])

/tmp/ipykernel_2318780/4114924807.py:1: DtypeWarning: Columns (0,1,3,6,84) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.concat([pd.read_csv(file, encoding='ISO-8859-1') for file in selected_files])

In [5]:
test_df = df_test[[' Timestamp',' Source IP', ' Destination IP', ' Label']]

In [6]:
test_df = test_df.reset_index(drop=True)

In [7]:
test_df.head()

       Timestamp      Source IP  Destination IP   Label
0  5/7/2017 8:42  192.168.10.14   209.48.71.168  BENIGN
1  5/7/2017 8:42  192.168.10.17    192.168.10.3  BENIGN
2  5/7/2017 8:42  192.168.10.17    192.168.10.3  BENIGN
3  5/7/2017 8:42  192.168.10.17    192.168.10.3  BENIGN
4  5/7/2017 8:42  192.168.10.17    192.168.10.3  BENIGN

In [8]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2589427 entries, 0 to 2589426
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0    Timestamp       object
 1    Source IP       object
 2    Destination IP  object
 3    Label           object
dtypes: object(4)
memory usage: 79.0+ MB

In [9]:
test_df.isna().sum()

 Timestamp         288602
 Source IP         288602
 Destination IP    288602
 Label             288602
dtype: int64

In [10]:
test_df = test_df.dropna()

In [11]:
test_df = test_df.reset_index(drop=True)

In [12]:
len(test_df)

2300825

In [13]:
test_df[' Label'] = test_df[' Label'].apply(lambda x: 0 if x == 'BENIGN' else 1)
train_df[' Label'] = train_df[' Label'].apply(lambda x: 0 if x == 'BENIGN' else 1)

/tmp/ipykernel_2318780/1021508022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[' Label'] = train_df[' Label'].apply(lambda x: 0 if x == 'BENIGN' else 1)

In [14]:
test_df.head()

       Timestamp      Source IP  Destination IP   Label
0  5/7/2017 8:42  192.168.10.14   209.48.71.168       0
1  5/7/2017 8:42  192.168.10.17    192.168.10.3       0
2  5/7/2017 8:42  192.168.10.17    192.168.10.3       0
3  5/7/2017 8:42  192.168.10.17    192.168.10.3       0
4  5/7/2017 8:42  192.168.10.17    192.168.10.3       0

In [15]:
test_df[' Label'].sum()

557646

# Processing

In [17]:
# train_df[' Timestamp'] = pd.to_datetime(train_df[' Timestamp'],format='%d/%m/%Y %H:%M')
train_df[' Timestamp'] = pd.to_datetime(train_df[' Timestamp'], format='%d/%m/%Y %H:%M:%S')

/tmp/ipykernel_2318780/4092182896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[' Timestamp'] = pd.to_datetime(train_df[' Timestamp'], format='%d/%m/%Y %H:%M:%S')

In [18]:
train_df.head()

            Timestamp      Source IP  Destination IP   Label
0 2017-07-03 08:55:58  8.254.250.126    192.168.10.5       0
1 2017-07-03 08:55:58  8.254.250.126    192.168.10.5       0
2 2017-07-03 08:55:58  8.254.250.126    192.168.10.5       0
3 2017-07-03 08:55:58  8.254.250.126    192.168.10.5       0
4 2017-07-03 08:56:22  8.253.185.121   192.168.10.14       0

In [19]:
train_df_sorted = train_df.sort_values(' Timestamp')

In [20]:
test_df[' Timestamp'] = pd.to_datetime(test_df[' Timestamp'], format='%d/%m/%Y %H:%M')
test_df_sorted = test_df.sort_values(' Timestamp')

In [21]:
train_df_sorted

                 Timestamp      Source IP  Destination IP   Label
196820 2017-07-03 01:00:01   192.168.10.3    192.168.10.1       0
193120 2017-07-03 01:00:01  23.194.182.12   192.168.10.25       0
193119 2017-07-03 01:00:01  192.168.10.25   23.194.182.12       0
427274 2017-07-03 01:00:01  192.168.10.25    192.168.10.3       0
193923 2017-07-03 01:00:01        8.6.0.1         8.0.6.4       0
...                    ...            ...             ...     ...
193264 2017-07-03 12:59:55  192.168.10.25    52.84.145.27       0
409758 2017-07-03 12:59:55  172.217.10.70   192.168.10.25       0
193211 2017-07-03 12:59:55  192.168.10.25   172.217.10.70       0
194881 2017-07-03 12:59:56  192.168.10.14    192.168.10.3       0
198090 2017-07-03 12:59:58  192.168.10.17   138.68.46.177       0

[529918 rows x 4 columns]

In [22]:
start_time = "2017-07-03 01:00:01"

In [23]:
least_timestamp = pd.to_datetime(start_time)

In [24]:
train_df_sorted['snapshot'] = (train_df_sorted[' Timestamp'] - least_timestamp).dt.total_seconds() / 1
train_df_sorted['snapshot'] = train_df_sorted['snapshot'].astype(int)

In [25]:
train_df_sorted

                 Timestamp      Source IP  Destination IP   Label  snapshot
196820 2017-07-03 01:00:01   192.168.10.3    192.168.10.1       0         0
193120 2017-07-03 01:00:01  23.194.182.12   192.168.10.25       0         0
193119 2017-07-03 01:00:01  192.168.10.25   23.194.182.12       0         0
427274 2017-07-03 01:00:01  192.168.10.25    192.168.10.3       0         0
193923 2017-07-03 01:00:01        8.6.0.1         8.0.6.4       0         0
...                    ...            ...             ...     ...       ...
193264 2017-07-03 12:59:55  192.168.10.25    52.84.145.27       0     43194
409758 2017-07-03 12:59:55  172.217.10.70   192.168.10.25       0     43194
193211 2017-07-03 12:59:55  192.168.10.25   172.217.10.70       0     43194
194881 2017-07-03 12:59:56  192.168.10.14    192.168.10.3       0     43195
198090 2017-07-03 12:59:58  192.168.10.17   138.68.46.177       0     43197

[529918 rows x 5 columns]

In [26]:
test_df_sorted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2300825 entries, 1699331 to 1054061
Data columns (total 4 columns):
 #   Column           Dtype
---  ------           -----
 0    Timestamp       datetime64[ns]
 1    Source IP       object
 2    Destination IP  object
 3    Label           int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 87.8+ MB

In [27]:
test_df_sorted['snapshot'] = (test_df_sorted[' Timestamp'] - least_timestamp).dt.total_seconds() / 1
test_df_sorted['snapshot'] = test_df_sorted['snapshot'].astype(int)

In [28]:
test_df_sorted.head()

                  Timestamp      Source IP   Destination IP   Label  snapshot
1699331 2017-07-04 01:00:00   192.168.10.8    192.168.10.50       0     86399
1705069 2017-07-04 01:00:00  192.168.10.12    206.108.0.132       0     86399
1984953 2017-07-04 01:00:00  192.168.10.50     192.168.10.8       0     86399
1705066 2017-07-04 01:00:00  192.168.10.19    91.189.89.198       0     86399
1699279 2017-07-04 01:00:00   192.168.10.9  178.154.131.215       0     86399

In [29]:
df_combined = pd.concat([train_df_sorted, test_df_sorted])
df_combined = df_combined.reset_index(drop=True)

In [30]:
df_combined['snapshot'] = df_combined['snapshot'] // 1

In [31]:
df_combined

                  Timestamp      Source IP  Destination IP   Label  snapshot
0       2017-07-03 01:00:01   192.168.10.3    192.168.10.1       0         0
1       2017-07-03 01:00:01  23.194.182.12   192.168.10.25       0         0
2       2017-07-03 01:00:01  192.168.10.25   23.194.182.12       0         0
3       2017-07-03 01:00:01  192.168.10.25    192.168.10.3       0         0
4       2017-07-03 01:00:01        8.6.0.1         8.0.6.4       0         0
...                     ...            ...             ...     ...       ...
2830738 2017-07-07 12:59:00   192.168.10.3    192.168.10.1       0    388739
2830739 2017-07-07 12:59:00   192.168.10.9    192.168.10.3       0    388739
2830740 2017-07-07 12:59:00   192.168.10.9   74.125.22.109       0    388739
2830741 2017-07-07 12:59:00  192.168.10.51   162.213.33.50       0    388739
2830742 2017-07-07 12:59:00  192.168.10.17  198.206.133.14       0    388739

[2830743 rows x 5 columns]

In [32]:
# Rename columns
df_combined = df_combined.rename(columns={" Source IP": "src_computer", " Destination IP": "dst_computer", " Label": "label", " Timestamp":"timestamp"})

In [33]:
# Get list of column names
cols = df_combined.columns.tolist()
# Reorder the columns
df_combined = df_combined[cols]

In [ ]:
# Create a dictionary to store the unique numbers
node_map = {}

# Iterate over the unique IP addresses in the 'src_computer' column
for ip in df_combined['src_computer'].unique():
    # Assign a unique number to each IP address
    node_map[ip] = len(node_map) + 1

# Iterate over the unique IP addresses in the 'dst_computer' column
for ip in df_combined['dst_computer'].unique():
    # Assign a unique number to each IP address
    node_map[ip] = len(node_map) + 1

# Print the IP dictionary
print(node_map)

In [ ]:
with open('../data/cicids/node_map.json', 'w') as f:
    json.dump(node_map, f)

## Mapping node ids

In [36]:
len(node_map)

19129

In [37]:
test_df_sorted  = test_df_sorted.rename(columns={" Source IP": "src_computer", " Destination IP": "dst_computer", " Label": "label", " Timestamp":"timestamp"})
train_df_sorted  = train_df_sorted.rename(columns={" Source IP": "src_computer", " Destination IP": "dst_computer", " Label": "label", " Timestamp":"timestamp"})

In [38]:
test_df_sorted.head()

                  timestamp   src_computer     dst_computer  label  snapshot
1699331 2017-07-04 01:00:00   192.168.10.8    192.168.10.50      0     86399
1705069 2017-07-04 01:00:00  192.168.10.12    206.108.0.132      0     86399
1984953 2017-07-04 01:00:00  192.168.10.50     192.168.10.8      0     86399
1705066 2017-07-04 01:00:00  192.168.10.19    91.189.89.198      0     86399
1699279 2017-07-04 01:00:00   192.168.10.9  178.154.131.215      0     86399

In [39]:
train_df_sorted['src_computer'] = train_df_sorted['src_computer'].replace(node_map)
train_df_sorted['dst_computer'] = train_df_sorted['dst_computer'].replace(node_map)

test_df_sorted['src_computer'] = test_df_sorted['src_computer'].replace(node_map)
test_df_sorted['dst_computer'] = test_df_sorted['dst_computer'].replace(node_map)

In [ ]:
train_df_sorted["timestamp"] = train_df_sorted["snapshot"]
test_df_sorted["timestamp"] = test_df_sorted['snapshot']

In [40]:
train_df_sorted.to_csv('../data/cicids/train.csv',index=False)

In [41]:
test_df_sorted.to_csv('../data/cicids/test.csv',index=False)